.noti-menu {
}

.noti-container {
    max-height: 350px;
    overflow-y: auto;
    padding: 0.5rem;
    width: 100%;
    max-width: 320px;
}

@media (max-width: 480px) {
    .noti-container {
        max-height: 60vh;
        max-width: 85vw;
    }
}
