Este archivo de ejemplo (.env) contiene las variables de entorno necesarias para configurar la aplicación. 
Asegúrate de reemplazar los valores de ejemplo con tus propias credenciales y configuraciones antes de ejecutar la aplicación.

# Database
ConnectionStrings__DefaultConnection=Host={host};Username={usuario};Password={contrasenia};Database={nombre_base_de_datos}

# JWT
JWT__Key={clave_secreta_para_jwt}
JWT__ExpirationMinutes={tiempo_de_expiracion_en_minutos}

# Email
EmailSettings__AppUrl={url_de_la_aplicacion}
EmailSettings__EmailUsername={correo_electronico_para_enviar_correos}
EmailSettings__EmailPassword={contrasenia_del_correo}
EmailSettings__EmailHost={servidor_smtp}

#Mega (almacenamiento en la nube)
MegaStorage__Email={correo_electronico_para_almacenamiento_en_la_nube}
MegaStorage__Password={contrasenia_del_cuenta_de_almacenamiento_en_la_nube}

#Paths_PostgreSQL
Paths__PGDumpPath={ruta_al_ejecutable_pg_dump}
Paths__PSQLPath={ruta_al_ejecutable_psql}

#ReCaptchaSettings
ReCaptchaSettings__SiteKey={clave_del_sitio_recaptcha}
ReCaptchaSettings__SecretKey={clave_secreta_recaptcha}
ReCaptchaSettings__VerificationUrl={url_de_verificacion_recaptcha}